@page "/faculties"
<h1>Faculties</h1>

<DataTable TData="FacultyDto" TParameters="FacultyParameters"
           SearchTerms="@(new List<(string placeHolder, Expression<Func<FacultyParameters, string?>>)> 
                        { new("Name", parameters => parameters.Name) })"
           ParameterOptions="@(p => p.OrderBy = "LastName")"
           TableHeaders="@(new List<(string, string)> { ("name", "Name") })"
           TableData="@(new List<Func<FacultyDto, string>> { f => f.Name })"
           CreateLink="/faculties/Create"
           EditLink="/faculties/edit"
           ActionLinks="@(new List<(string LinkName, Func<FacultyDto, string> LinkSource)> { ("View departments", f => $"/Departments/{f.Id}") })"/>