@inherits ModelEditForm<PasswordChangeDto>
<EditForm Model="Model" OnValidSubmit="Submit">
    <FluentValidationValidator Validator="Validator"/>
    <div class="col-md-3">
        <label class="form-label" for="@Model.OldPassword">Old password</label>
        <InputText class="form-control" @bind-Value="Model.OldPassword"/>
        <ValidationMessage For="@(() => Model.OldPassword)"/>
    </div>
    <br/>
    <div class="col-md-3">
        <label class="form-label" for="@Model.NewPassword">New password</label>
        <InputText class="form-control" @bind-Value="Model.NewPassword"/>
        <ValidationMessage For="@(() => Model.NewPassword)"/>
    </div>
    <div class="col-md-3">
        <label class="form-label" for="@Model.NewPasswordConfirm">New password confirm</label>
        <InputText class="form-control" @bind-Value="Model.NewPasswordConfirm"/>
        <ValidationMessage For="@(() => Model.NewPasswordConfirm)"/>
    </div>
    <br/>
    <button type="submit" class="btn btn-success">Save</button>
</EditForm>