@using ECampus.Domain.DataTransferObjects
@using ECampus.Domain.QueryParameters
@inherits ModelEditForm<ECampus.Domain.DataTransferObjects.SubjectDto>
<EditForm EditContext="EditContext" OnValidSubmit="Submit">
    <FluentValidationValidator Validator="Validator"/>
    <div class="row">
        <div class="col-md-4">
            <p>
                <label class="form-label" for="@Model.Name">Name</label>
                <InputText class="form-control" @bind-Value="Model.Name"/>
                <ValidationMessage For="@(() => Model.Name)"/>
            </p>
            <table class="table">
                <tr>
                    <th>
                        First name
                    </th>
                    <th>
                        Last name
                    </th>
                </tr>
                @foreach (var teacher in Model.Teachers ??= new List<TeacherDto>())
                {
                    <tr>
                        <td>
                            @teacher.FirstName
                        </td>
                        <td>
                            @teacher.LastName
                        </td>
                    </tr>
                }
            </table>
            <br/><br/>
            <MultipleItemsSelect TData="TeacherDto" TParameters="TeacherParameters" SelectTo="@Model.Teachers" OnChanged="@StateHasChanged" />
            <br/>
            <button type="submit" class="btn btn-success">Save</button>
        </div>
    </div>
</EditForm>