@inherits IndexPageBase<TData, TParameters>
@typeparam TData
@typeparam TParameters
@if (Data is null)
{
    <p><em>Loading...</em></p>
    return;
}
@if (CreateLink is not null && _isAdmin)
{
    <p>
        <a href="@CreateLink">Create New</a>
    </p>
}
<table>
    <thead>
        <input type="text" @bind-value="@Parameters.SearchTerm" @onblur="RefreshData" style="background-color: rgb(235, 235, 235)"
               placeholder="Search" />
        <tr>
            @foreach(var header in TableHeaders)
            {
                <th>
                    @header
                </th>
            }
            @if (TotalLinks != 0)
            {
                <th></th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Data.Data)
        {
            <tr>
                @foreach(var data in TableData)
                {
                    <td>
                        @data(item)
                    </td>
                }
                <td>
                    @if (EditLink is not null && _isAdmin && ShowEditButton)
                    {
                        <a role="button" href="@($"{EditLink}/{item.Id}")" class="btn btn-info">Edit</a>
                        <text> | </text>
                    }
                    @foreach(var link in ActionLinks)
                    {
                        <a role="button" href="@link.Item2(item)" class="btn btn-info">@link.Item1</a>
                        <text> | </text>
                    }
                    @if (_isAdmin && ShowDeleteButton)
                    {
                        <a role="button" class="btn btn-danger" onclick="@(() => Delete(item.Id))">Delete</a>
                    }
                </td>
            </tr>
        }
    </tbody>
    <DataPageSelect MaxPageNumber="Data.Metadata.MaxPageNumber" OnPageNumberChanged="@(PageNumberChanged)" />
    <br />
    <DataPageSizeSelect OnPageSizeChanged="@(PageSizeChanged)" PageSize="Parameters.PageSize" />
</table>
