@if (_timetable is null)
{
    <p><em>Loading...</em></p>
    return;
}
<table>
    <thead>
        <tr>
            <th>Time</th>
            @foreach (var day in Enumerable.Range(1, 6))
            {
                <th>
                    @((DayOfWeek)day)
                </th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var number in Enumerable.Range(0, 5))
        {
            <tr>
                <td width="10%">
                    @(8 + (30 + number * 115) / 60).@((30 + number * 115) % 60)-@(9 + (15 + number * 115) / 60).@((15 + number * 115) % 60)
                </td>
                @foreach (var day in Enumerable.Range(0, 6))
                {
                    @if (_timetable?.GetClass(day, number) is null)
                    {
                        <td rowspan="@(_timetable?.GetClass(day, number, WeekDependency.AppearsOnEvenWeeks) is null ? 2 : 1)" width="15%">
                            <a role="button" class="btn-info" href="@($"{CreateLink(day, number)}?DayOfWeek={day}&Number={number}")">Create</a>
                        </td>
                    }
                    else
                    {
                        <td rowspan="@(_timetable?.GetClass(day, number)?.WeekDependency == WeekDependency.None ? 2 : 1)" width="15%">
                            <p>
                                @foreach (var description in DescriptionList)
                                {
                                    @description(_timetable?.GetClass(day, number))
                                    <br />
                                }
                                <a role="button" href="@($"{EditLink}/{(_timetable?.GetClass(day, number).Id)}")">Edit</a> |
                                <button role="button" class="btn-danger" onclick="@(() => Delete(_timetable?.GetClass(day, number).Id))">Delete</button>
                            </p>
                        </td>
                    }
                }
            </tr>
            <tr>
                <td width="10%">
                    @(9 + (20 + number * 115) / 60).@((20 + number * 115) % 60)-@(9 + (55 + number * 115) / 60).@((55 + number * 115) % 60)
                </td>
                @foreach (var day in Enumerable.Range(0, 6))
                {
                    @if (_timetable?.GetClass(day, number)?.WeekDependency == WeekDependency.AppearsOnOddWeeks)
                    {
                        @if (_timetable?.GetClass(day, number, WeekDependency.AppearsOnEvenWeeks) is null)
                        {
                            <td style="border: 1px solid black;border-collapse: collapse;" width="15%">
                                <a role="button" class="btn-info" href="@($"{CreateLink(day, number)}?DayOfWeek={day}&Number={number}")">Create</a>
                            </td>
                        }
                        else
                        {
                            <td width="15%">
                                <p>
                                    @foreach (var description in DescriptionList)
                                    {
                                        @description(_timetable?.GetClass(day, number, WeekDependency.AppearsOnEvenWeeks))
                                        <br />
                                    }
                                    <a role="button" href="@($"{EditLink}/{(_timetable?.GetClass(day, number, WeekDependency.AppearsOnEvenWeeks).Id)}")">Edit</a> |
                                    <button role="button" class="btn-danger" onclick="@(() => Delete(_timetable?.GetClass(day, number, WeekDependency.AppearsOnEvenWeeks).Id))">Delete</button>
                                </p>
                            </td>
                        }
                    }
                    else
                    {
                        @if (_timetable.GetClass(day, number, WeekDependency.AppearsOnEvenWeeks) is not null)
                        {
                            <td width="15%">
                                <p>
                                    @foreach (var description in DescriptionList)
                                    {
                                        @description(_timetable?.GetClass(day, number, WeekDependency.AppearsOnEvenWeeks))
                                        <br />
                                    }
                                    <a role="button" href="@($"{EditLink}/{(_timetable?.GetClass(day, number, WeekDependency.AppearsOnEvenWeeks).Id)}")">Edit</a> |
                                    <button role="button" class="btn-danger" onclick="@(() => Delete(_timetable?.GetClass(day, number, WeekDependency.AppearsOnEvenWeeks).Id))">Delete</button>
                                </p>
                            </td>
                        }
                    }
                }
            </tr>
        }
    </tbody>
</table>