@model IndexModel<GroupDTO, GroupParameters>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" asp-route-departmentId="@Model.Parameters.DepartmentId">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Data)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> | 
                    <a asp-controller="Classes" asp-action="GroupTimetable" asp-route-GroupId="@item.Id">Timetable</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<component type="typeof(PageNavigationLine)" render-mode="ServerPrerendered"
           param-Parameters="@Model.Parameters" param-ControllerName="@("groups")"
           param-MaxPageNumber="@Model.Metadata.MaxPageNumber" />
<br />
<a asp-controller="Departments" asp-route-Id="@Model.Parameters.DepartmentId" asp-action="Details">Back</a>
