@page "/timetable/teacher/{TeacherId:int}"
@inherits TimetablePageBase
<TimetableModel CreateLink="@($"timetable/Create/{(int)TimetableMode.Teacher}/{TeacherId}")"
                EditLink="@($"timetable/edit/{(int)TimetableMode.Teacher}")"
                DescriptionList="@(new List<Func<ClassDto, string>> { c => $"{c.Subject?.Name} {c.ClassType}",
                                     c => $"Group {c.Group?.Name}",
                                     c => $"Building: {c.Auditory?.Building}, aud: {c.Auditory?.Name}" })"
                RefreshData="@(requests => requests.TeacherTimetable(TeacherId))"
                Title="@(timetable => $"Timetable for teacher {timetable.Teacher?.FirstName} {timetable.Teacher?.LastName}")"/>

<br/>
@if (User is null)
{
    return;
}
@if (!_isSaved)
{
    <a role="button" class="bnt btn-success" @onclick="async () => await OnSave()">Save</a>
}
else
{
    <a role="button" class="bnt btn-danger" @onclick="async () => await OnSaveRemoved()">Remove save</a>
}