@model IndexModel<FacultacyDTO, FacultacyParameters>

@{
    ViewData["Title"] = "Index";
}

<h1>Facultacies</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Data)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                    <a asp-controller="Departments" asp-action="Index" asp-route-FacultacyId="@item.Id">View departments</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<component type="typeof(PageNavigationLine)" render-mode="ServerPrerendered" 
            param-Parameters="@Model.Parameters" param-ControllerName="@("facultacies")"
            param-MaxPageNumber="@Model.Metadata.MaxPageNumber" />
