@page "/profile"
@using ECampus.Domain.Responses.Auditory
@using ECampus.Domain.Responses.Group
@using ECampus.Domain.Responses.Teacher

@if (_user is null)
{
    <p>
        <em>Loading...</em>
    </p>
    return;
}

<h2>Welcome back, @_user.Username</h2>
<a href="/profile/edit">Edit profile</a>
<a href="/PasswordChange">Cahnge password</a>
<br/>
<div class="row">
    <div class="col-md-4">
        <h3>Saved auditories:</h3>
        <table>
            <tr>
                <th style="width: 33%">Building</th>
                <th style="width: 33%">Name</th>
                <th style="width: 34%"></th>
            </tr>
            @foreach (var auditory in _user.SavedAuditories ??= new List<MultipleAuditoryResponse>())
            {
                <tr>
                    <td>
                        @auditory.Building
                    </td>
                    <td>
                        @auditory.Name
                    </td>
                    <td>
                        <a role="button" class="btn btn-info" href="@($"/timetable/auditory/{auditory.Id}")">View timetable</a>
                    </td>
                </tr>
            }
        </table>
        <br/>
        <table>
            <tr>
                <th style="width: 50%">Name</th>
                <th style="width: 50%"></th>
            </tr>
            @foreach (var group in _user.SavedGroups ??= new List<MultipleGroupResponse>())
            {
                <tr>
                    <td>
                        @group.Name
                    </td>
                    <td>
                        <a role="button" width="100%" class="btn btn-info" href="@($"/timetable/group/{group.Id}")">View tometable</a>
                    </td>
                </tr>
            }
        </table>
        <br/>
        <table>
            <tr>
                <th style="width: 33%">First name</th>
                <th style="width: 33%">Last name</th>
                <th style="width: 34%"></th>
            </tr>
            @foreach (var teacher in _user.SavedTeachers ??= new List<MultipleTeacherResponse>())
            {
                <tr>
                    <td>
                        @teacher.FirstName
                    </td>
                    <td>
                        @teacher.LastName
                    </td>
                    <td>
                        <a width="100%" role="button" class="btn btn-info" href="@($"/timetable/teacher/{teacher.Id}")">View timetable</a>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>
