@model ClassDTO

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Class</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="GroupId" />
            <input type="hidden" asp-for="DayOfTheWeek" />
            <input type="hidden" asp-for="Number" />
            <div class="form-group">
                <label asp-for="ClassType" class="control-label"></label>
                <select asp-for="ClassType" class="form-control">
                    @foreach (ClassType classType in Enum.GetValues<ClassType>())
                    {
                        <option value="@classType">@classType</option>
                    }
                </select>
                <span asp-validation-for="ClassType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WeekDependency" class="control-label"></label>
                <select asp-for="WeekDependency" class="form-control">
                    @foreach (WeekDependency weekDependency in Enum.GetValues<ClassType>())
                    {
                        <option value="@weekDependency">@weekDependency</option>
                    }
                </select>
                <span asp-validation-for="WeekDependency" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubjectName" class="control-label"></label>
                <input asp-for="SubjectName" class="form-control" />
                <span asp-validation-for="SubjectName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TeacherId" class="control-label"></label>
                <input asp-for="TeacherId" class="form-control" />
                <span asp-validation-for="TeacherId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AuditoryId" class="control-label"></label>
                <input asp-for="AuditoryId" class="form-control" />
                <span asp-validation-for="AuditoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="GroupTimetable" asp-route-groupId="@Model.GroupId">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
